manifest {
    name = 'funannotate-nextflow'
    description = 'Genome training, prediction, refinement, InterProScan, and functional annotation'
    mainScript = 'main.nf'
    nextflowVersion = '>=23.10.0'
}

params {
    outdir = 'results'
}

process {
    executor = 'local'
    stageInMode = 'copy'
    errorStrategy = { task.exitStatus in [137, 143] ? 'retry' : 'terminate' }
    maxRetries = 1

    withLabel: train {
        cpus = 10
        memory = 100.GB
        time = 100.h
    }
    withLabel: predict {
        cpus = 48
        memory = 200.GB
        time = 20.h
    }
    withLabel: update {
        cpus = 12
        memory = 100.GB
        time = 100.h
    }
    withLabel: fix {
        cpus = 2
        memory = 5.GB
        time = 2.h
    }
    withLabel: iprscan {
        cpus = 10
        memory = 50.GB
        time = 50.h
    }
    withLabel: annotate {
        cpus = 40
        memory = 100.GB
        time = 80.h
    }
}

profiles {
    slurm {
        process.executor = 'slurm'
    }
    conda {
        conda.enabled = true
        process.conda = "${projectDir}/environment.yml"
    }
}

timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = true
